/**************************************************
    PAGE - CONTACT
    PAGE - CONTACT
    PAGE - CONTACT
**************************************************/

.zdf-page-contact {
    display: flex;
    flex-direction: column;
}

.zdf-page-contact-address {
    position: relative;
}

.zdf-page-contact__link {
    text-decoration: none;
    color: #000000;
    font-size: 18vw;
}

.zdf-page-contact__text {
    pointer-events: none;
    width: max-content;
    margin-left: 10%;
    background-color: #ffffff86;
    box-shadow: 0px 0px 15px 15px #ffffff86;
    border-radius: 15px;
    padding: 5px;
}

@media (min-width: 641px) {
    .zdf-page-contact__text {
        font-size: 1.25rem;
        margin-left: 17%;
    }
}

@media (min-width: 769px) {
    .zdf-page-contact-address {
        margin-left: 7%;
    }

    .zdf-page-contact__link {
        font-size: 8.6rem;
    }

    .zdf-page-contact__text {
        font-size: 1.5rem;
    }
}
