/**************************************************
    PAGE - CONTACT
    PAGE - CONTACT
    PAGE - CONTACT
**************************************************/

.zdf-page-contact {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.zdf-page-contact__link {
    text-decoration: none;
    color: #000000;
    font-size: 18vw;
}

@media (min-width: 769px) {
    .zdf-page-contact__link {
        margin-left: 7%;
        font-size: 8.6rem;
    }
}
