/**************************************************
    MENU
    MENU
    MENU
**************************************************/
.zdf-head {
    flex: 0 0 auto;
}

.zdf-head__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15vw 6vh;
}

.zdf-head__menu-list.overflow {
    box-shadow: 0px -30px 60px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}

.zdf-head__menu-list-item {
    text-align: end;
}

.zdf-head__menu-link--text {
    display: none;
}

.zdf-head__menu-link.zdf-link--active .zdf-head__menu-link--icon {
    transition: transform 0.2s ease;
    transform: scale(2);
}

.zdf-head__menu-link--icon {
    display: flex;
    transition: transform 0.2s ease;
    transform: scale(1);
}

.zdf-head__menu-link--icon path {
    stroke: rgb(0, 0, 0);
}

.zdf-head__menu-link.zdf-link--active .zdf-head__menu-link--icon path {
    stroke: black;
}

.zdf-head__menu--resume {
    position: relative;
}

.zdf-head__menu--resume-link {
    display: none;
    position: absolute;
    top: 140%;
    left: 50%;
    text-align: left;
    width: 90px;
    text-decoration: none;
    color: #000000;
}

#button-resume.zdf-link--active + .zdf-head__menu--resume-link {
    display: block;
}

@media (min-width: 641px) {
    .zdf-head__menu-list {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .zdf-head__menu-link--text {
        display: block;
        font-size: 2rem;
    }

    .zdf-head__menu-link--icon {
        display: none;
    }

    #button-resume.zdf-link--active + .zdf-head__menu--resume-link {
        width: auto;
        text-align: end;
        left: auto;
        top: auto;
        right: 0;
    }
}


/**************************************************
    TITLE
    TITLE
    TITLE
**************************************************/
.zdf-name {
    writing-mode: vertical-lr;
    font-weight: 700;
    color: #d2d2d2a8;
    z-index: -1;
    position: fixed;
    line-height: 0;
}

.zdf-name-first {
    top: 3px;
    right: 7vh;
    font-size: 21.5vh;
}
.zdf-name-middle {
    top: -4px;
    right: 24vh;
    font-size: 25.8vh;

}
.zdf-name-last {
    top: 0;
    right: 41vh;
    font-size: 19.7vh;
}


/**************************************************
    PORTRAIT
    PORTRAIT
    PORTRAIT
**************************************************/
.zdf-portrait {
    position: fixed;
    top: 30%;
    right: -200px;
    opacity: 15%;
    mix-blend-mode: darken;
    z-index: -1;
}


/**************************************************
    MODAL
    MODAL
    MODAL
**************************************************/
.zdf-modal {
    display: none;
}

.zdf-modal.show {
    display: block;
    position: fixed;
    margin: 15vw;
    width: auto;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.zdf-modal.show::backdrop {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
}

.zdf-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zdf-button--close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;

}

.zdf-button--close::before,
.zdf-button--close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0;
}

.zdf-button--close::before {
    border-left: 3px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%) rotate(45deg);
}

.zdf-button--close::after {
    border-right: 3px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%) rotate(-45deg);
}
