/**************************************************
    PAGE - WORK
    PAGE - WORK
    PAGE - WORK
**************************************************/
.zdf-work-description {
    display: flex;
    flex-flow: column nowrap;
    cursor: auto;
    margin-top: 15px;
}

.zdf-details {
    background-color: var(--color-text-background);
    border-radius: var(--border-radius);
    padding: 10px;
    border: 3px solid var(--color-outline);
    max-width: 600px;
}

.zdf-work-link {
    align-self: flex-end;
    /* transform: scale(1); */
    /* transition: transform 0.5s; */
}

/* .zdf-work-link:hover {
    transform: scale(2);
} */

.zdf-work-link path {
    stroke: var(--color-outline);
    stroke-width: 2;
    transition: stroke-width 0.5s;
}

.zdf-work-link:hover path {
    stroke-width: 3;
}

.zdf-work-text {
    margin-left: 20px;
}

.zdf-work-image-container {
    display: flex;
    position: relative;
    margin-top: 15px;
    flex-wrap: wrap;
}

.zdf-work-image {
    max-height: 200px;
    margin: 5px auto;
}

.zdf-details .zdf-title {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    font-weight: 100;
    transition: font-weight 0.5s;
}

.zdf-details .zdf-title:hover,
.zdf-details[open] .zdf-title {
    font-weight: 900;
}

@media (min-width: 769px) {
    .zdf-details {
        margin-left: 7%;
    }
}